/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: #003e64;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    margin: 0 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 768px){
    header {
        font-size: 8px;
        padding: 5px;
    }
    h2 {
    font-size: 16px;
    }
    nav {
       padding: 8px;  
    }
    nav a{
        padding: 0;
        margin: 8px;
        font-size: 10px;
    }
}
@media screen and (min-width: 769px)
and (max-width: 1024px) {
    header {
        font-size: 15px;
        padding: 5px;
    }
    nav {
       padding: 12px;  
    }
    nav a{
        padding: 0;
        margin: 25px;
        font-size: 12px;
    }
}
nav a:hover {
    color: rgb(80, 155, 221);
}
nav a:active {
    background-color: #0056b3;
    color: white;
}

section {
    padding: 20px;
    scroll-margin-top: 40px;
}

.searchSection {
    text-align: center;
    margin-bottom: 20px;
}
.searchSection input {
    width: 500px;
    max-width: 90%;
    padding: 12px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    font-size: 16px;
}
.filterSection {
    margin: 20px 0;
    text-align: center;
}
.filterSection label {
    font-weight: bold;
    margin-right: 10px;
}
.filterSection select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#events {
    padding: 20px 20px;
    background-color: #e4e3e3;
    text-align: center;
}
#events h2{
    font-size: 30px;
}
.eventContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 40px;
}
.eventCard {
    background-color: white;
    width: 320px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-bottom: 20px;
}
.eventCard:hover {
    box-shadow: 5px 10px 8px 2px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
}
.eventImage {
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.eventCard h3 {
    margin-top: 15px;
    font-size: 20px;
    color: #007BFF;
}
.eventCard p {
    padding: 0px 20px;
    text-align: center;
    font-size: 17px;
}
.eventCard button {
    margin-top: 0px;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px){
    #events {
    padding: 15px 20px;
    
    }
    .eventContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    }
    #events h2{
        font-size: 22px;
    }
}

#videoSection {
    padding: 30px;
    text-align: center;
    background-color: #e0d9d9;
}
#videoSection h2{
    font-size: 30px;
}
video {
    border: 3px solid #007BFF;
    border-radius: 15px;
    max-width: 100%;
}
#videoMessage {
    color: rgb(236, 12, 27);
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}
@media screen and (max-width: 768px){
    #videoSection h2{
        font-size: 22px;
    }
}

#gallery {
    padding: 30px;
    text-align: center;
}
#gallery h2{
   font-size: 35px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 20px;
}
td p{
    font-size: 18px;
}
.galleryImage {
    width: 380px;
    height: 220px;
    border: 3px solid #007BFF;
    border-radius: 10px;
    object-fit: cover;
}
.galleryImage:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
@media screen and (min-width: 769px)
and (max-width: 1024px) {
    table,
    tr,
    td {
        display: block;
        width: 100%;
    }
    td {
        margin-bottom: 30px;
    }
    .galleryImage {
        width: 90%;
        height: auto;
    }
    #gallery h2 {
        font-size: 30px;
    }
}
@media screen and (max-width: 768px) {
    table,
    tr,
    td {
        display: block;
        width: 100%;
    }
    td {
        margin-bottom: 25px;
        padding: 0px;
    }
    .galleryImage {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    #gallery h2 {
        font-size: 22px;
    }
    td p {
        font-size: 16px;
    }
}

#newsSection {
    padding: 40px;
    background-color: #e4e3e3;
}
.newsArticle {
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid gray;
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
}
@media screen and (max-width: 768px) {
    #newsSection h2{
        font-size: 22px;
        text-align: center;
    }
    .newsArticle {
        column-count: 1;
        font-size: 12px;
    }
}

#registration {
    padding: 20px;
    background-color: #f9f9f9;
}
#registration h2{
    text-align: center;
    font-size: 35px;
}
form {
    max-width: 500px;
    margin: auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
label {
    font-weight: bold;
    margin-top: -3px;
}
input,
select,
textarea {
    width: 95%;
    max-width: 700px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: -40px;
}
button:hover {
    background-color: #0056b3;
}
#confirmationMessage {
    color: green;
    font-weight: bold;
}
@media screen and (max-width: 768px){
    #registration h2{
        font-size: 22px;
    }
}

#feedback {
    padding: 50px;
    background-color: #ffffff;
}
#feedback h2{
   font-size: 30px;
   margin-top: 0px;
}
#phoneError {
    color: red;
    font-weight: bold;
}
#feeDisplay {
    color: green;
    font-weight: bold;
}
#eventImage {
    border-radius: 10px;
    border: 3px solid #007BFF;
    cursor: pointer;
}
#charCount {
    font-weight: bold;
    color: #007BFF;
}
@media screen and (max-width: 768px){
    #feedback h2{
        font-size: 22px;
    }
}

#preferences {
    padding: 30px;
    background-color: #ffffff;
    text-align: center;
}
#preferences h2{
    font-size: 30px;
}
#preferences label{
    color: #ff4400d5;
}
#savedPreferenceMessage {
    color: green;
    font-weight: bold;
    margin-top: 30px;
}
@media screen and (max-width: 768px){
    #preferences h2{
        font-size: 20px;
    }
}

#locationSection {
    padding: 30px;
    text-align: center;
    background-color: #f4f4f4;
}
#locationSection h2{
    font-size: 30px;
}
#locationOutput {
    margin-top: 25px;
    font-weight: bold;
    color: #007BFF;
}
@media screen and (max-width: 768px){
    #locationSection h2{
        font-size: 20px;
    }
    button {
    padding: 10px 18px;
    font-size: 14px;
    }
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 2px;
}
@media screen and (max-width: 768px){
    footer{
        padding: 1px;
        font-size: 10px;
    }
}